@use 'variaveis';

.carousel-container {
    background-color: variaveis.$colorBege;
    border-radius: 20px;
    padding: 4rem 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 2rem;
}

.carousel-content {
    width: 800px;
    position: relative;

    .testimonial {
        display: none;
        background: variaveis.$colorWhite;
        padding: 2rem;
        border-radius: 12px;
        box-shadow: 0 5px 20px rgba(0, 0, 0, 0.1);
        font-style: italic;
        text-align: center;
    }

    .testimonial.active {
        display: block;
    }

    .testimonial i {
        font-size: 3rem;
        color: variaveis.$colorPink;
        margin-bottom: 1rem;
    }
}

.carousel-nav {
    display: flex;
    justify-content: center;
    margin-top: 1rem;

    .dot {
        width: 14px;
        height: 14px;
        border-radius: 50%;
        background: #ccc;
        margin: 0 6px;
        cursor: pointer;

        &.active {
            background: variaveis.$colorPink;
        }
    }
}

@media (max-width: 768px) {
    .carousel-container {
        padding: 2rem 1rem;
        align-items: center;
        justify-content: center;
        gap: 1rem;

        h3 {
            font-size: 1.6rem; 
            text-align: center;
            margin-bottom: 1rem;
        }

        p {
            font-size: 1rem;
            text-align: center;
            margin-bottom: 1rem;
        }

        .stats-function-item {
            display: flex;
            flex-direction: column; 
            gap: 2rem;
            list-style: none;
            padding: 0;
            justify-content: center;
            align-items: center;

            li {
                h3 {
                    color: variaveis.$colorPink;
                    margin: 0;
                    margin-top: 10px;
                    font-size: 1.5rem;
                    text-align: center;
                }

                p {
                    margin: 0;
                    color: variaveis.$colorGray;
                    text-align: center;
                }
            }
        }
    }

    .carousel-content {
        width: 100%; 

        .testimonial {
            font-size: 0.9rem;
            padding: 1rem;
        }

        .testimonial i {
            font-size: 2rem;
        }
    }
}